<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Evacuation Waiver:</strong>
  <%= @owner.evac_waiver ? fa_icon('check') : fa_icon('times') %>
</p>

<div class="row">
  <% @owner.dogs.each do |dog| %>
    <div class="col-sm-4 col-xs-3 col-med-4">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= dog.name %></h3>

      </div>
      <a href="#">
        <div class="panel-body">
          <%= image_tag dog.avatar.url(:medium), class: 'img-rounded img-responsive' %>
        </div>
        </a>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Edit', edit_owner_path(@owner), class: "btn btn-primary" %>
<%= link_to 'Back', owners_path, class: "btn btn-primary" %>