<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner %>
  <%= link_to @dog.owner.last_name, owner_path(@dog.owner) %>
</p>

<p>
  <strong>Medical Issues:</strong>
  <%= @dog.medical %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @dog.dob.stamp("March 1, 1999") %>
</p>

<p>
  <%= image_tag @dog.avatar.url(:medium) %>
</p>

<p>
  <strong>In Daycare:</strong>
  <%= link_to fa_icon('fa-check'), @dog.in_daycare  %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-primary" %>
<%= link_to 'Back', dogs_path, class: "btn btn-primary" %>
